<p style="color: green"><%= notice %></p>

<h1>Stundents</h1>

<div id="stundents">
  <% @stundents.each do |stundent| %>
    <%= render stundent %>
    <p>
      <%= link_to "Show this stundent", stundent %>
    </p>
  <% end %>
</div>

<%= link_to "New stundent", new_stundent_path %>
