#student_name{
  width: 45% !important;
}
#student_inep {
  width: 32% !important;
}

#exercise_year {
  width: 10% !important;
}

#locality_name{
  width: 50% !important;
}

#modality_name{
  width: 50% !important;
}

#school_name{
  width: 50% !important;
}

#school_address{
  width: 70% !important;
}

#course_name{
  width: 50% !important;
}

#teacher_name{
  width: 50% !important;
}
#teacher_mail{
  width: 50% !important;
}

#teacher_phone{
  width: 20% !important;
}

#responsible_name{
  width: 50% !important;
}
#responsible_phone{
  width: 20% !important;
}
// .input-group.filtering-select.div{
//   width: 140% !important;
// }

// .input-group.filtering-select{
//   width: 140% !important;
// }