#student_name{
  width: 45% !important;
}
#student_inep {
  width: 32% !important;
}

#xxxxx {
  width: 202% !important;
}

// .input-group.filtering-select.div{
//   width: 140% !important;
// }

// .input-group.filtering-select{
//   width: 140% !important;
// }